---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { Form } from "@/components/Form/Form.jsx";

const entry = await getEntry("contact", "index");
const { contact_form_action } = config.params;
const contact = entry?.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}>
  <section class="py-32 lg:px-8">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>

    <div class="container py-16">
      <div class="row">
        <div class="mb-10 text-center md:col-6 md:order-2 md:mb-0 md:pt-9">
          <div class="contact-img relative inline-flex ">
            <Image
              src="/images/contact-img.png"
              height={544}
              width={500}
              alt=""
            />
          </div>
        </div>
        <div class="md:w-[50%] order-1">
          <Form
            name="Nombre"
            name_placeholder="John Doe"
            company={"Empresa"}
            company_placeholder="Inducítrica S.A."
            email={"Correo Electrónico"}
            email_placeholder="johndoe@inducítrica.com"
            phone={"Teléfono"}
            phone_placeholder="+54 9 11 1234 5678"
            message={"Mensaje"}
            message_placeholder="Hola, me gustaría conocer más sobre sus plantaciones de cítricos."
            send="Enviar"
            message_2="¡Gracias por contactarnos! Nos pondremos en contacto contigo a la brevedad. 📩"
            client:visible
          />
        </div>
      </div>
    </div>
  </section>
</Base>
